data/
image2latex/lightning_logs/*
image2latex/output_results*.txt
image2latex/i2lenv/
fcos/output_results*.txt
logs/
fcos/results/*
fcos/checkpoints/*
fcos/fcosenv/
!image2latex/data/
word2vec/doc2vec/checkpoints/*
word2vec/doc2vec/prev/
word2vec/w2venv/
word2vec/baseline/lda_15_3_4/
word2vec/baseline/__pycache__
word2vec/baseline/w2vbaseenv/
!word2vec/baseline/requirements.txt
word2vec/baseline/*.txt
baseline-w2v/Tangent-CFT/tangentCFTenv/
baseline-w2v/Tangent-CFT/MSE_dataset.csv
baseline-w2v/Tangent-CFT/logs/
baseline-w2v/Tangent-CFT/__pycache__/
baseline-w2v/Tangent/tangentenv/
*.zip
*.gz
*.tar